<ion-view view-title="主界面">
  <ion-content>
    <div class="banner">
      <img src="img/banner.png"/>
    </div>
    <div class="grid">
      <div class="row f_row">
        <div class="col" ui-sref="personInfo">
          <img src="img/001.png" class="animated zoomIn"/>
          <p class="animated swing">个人基本信息</p>
        </div>
        <div class="col" ng-click="goto('/coverage')">
          <img src="img/002.png" class="animated zoomIn"/>
          <p class="animated swing">军训服装</p>
        </div>
      </div>
      <div class="row sec_row">
        <div class="col" ui-sref="schedule">
          <img src="img/003.png" class="animated zoomIn"/>
          <p class="animated swing">来校行程</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
